* {
    margin:0px;
    padding:0px;
    
}

body{
    background: #fff;
    color: #000;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 1em;
    text-align: left;
    min-height: 100%;
}
header{
    position: fixed ;
    top: 0;
    width: 100%;
    height: 110px;  
    background-color:#616060;
}
header img{   
    position: fixed;
    width:150px;
    height:110px;
}
nav{
    max-width: 1024px;
    margin: 0 auto;
    
}
nav ul{
    float:right;
    list-style: none;
    text-align: left;
    vertical-align: top;
    
}
nav li{
    list-style-type: none;
    padding: 5px;
    display: inline;
    border-right: 1px solid #7ed957;

}
nav li a{
    color:#000;
    text-decoration: none;
    padding: 15px 22px;
    line-height: 130px; 
    color:white;   
}
nav li a:hover{
    color:#7ed957;
    
}
.visitado:link
{
    color:#7ed957;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
    box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
}
.titulodescr
{
    width:800px;
    margin-top: 300px;
    margin-left: 550px;
    
}
.titulodescr h2{
    margin-bottom:20px;
}
.titulodescr p:first-letter{
    font-size: 30px;
}
.titulodescr p{
    font-size: 0.75em;
    width: 100%;
}

.tabla{
     width:800px;  
}
.tabla table
{
    margin-top:90px;
    text-align:left;
    caption-side:bottom;   
    table-layout: auto; 
    width: 100%;
    border-collapse:collapse;
    border: 1px solid black;
    text-align:center;
    margin-left: 550px;
    margin-bottom: 200px;
}

.tabla tr{
    padding-right:10px;
    border: 1px solid black;
}
.tabla td{
    padding-right:10px;
    border: 1px solid black;
    height: auto;
}


.tabla tr:nth-child(even)
{
    background-color: #616060;
}
.tabla tr:nth-child(odd)
{
    background-color: beige;
}
.tabla tr:first-child{ 
    background-color:#7ed957;
}
aside{
    line-height: 50px;
    text-align:center;
    text-decoration:none;  
    list-style-type: square;
    background-color:rgb(31, 31, 31);
    padding-bottom: 200px;
    color:white;  
}
aside ul{
    list-style: none;
    text-align: left;
    vertical-align: top;   
}
.enlaces1{
    float: left;
    margin-left: 700px;
}
.enlaces2{
    float: left;
    margin-left: 250px;
}
aside h3
{
    color:white;
}
aside a
{
    color:white;
    text-decoration:none;
}
aside a:hover
{
    color:#7ed957;
}
aside a:active
{
    color:red;
}
footer{   
    clear:both;
    position:relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0); 
    color:white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px; 
    
}
footer .logos img
{
    width:50px;
}
footer h2
{
    color:white;
}
footer h4{
    margin-top:10px;
    margin-bottom: 5px;
    color:white;
}
footer .cookies a{
    text-decoration: none;
    color:white;
}
footer .cookies a:hover
{
    color:#7ed957;
}
footer .redes a{
    margin-right: 10px;
    text-decoration: none;
    color:white;
}
footer .redes .a:hover
{
    color:#7ed957;
}
footer .logos{
    margin-top: 30px;
}
footer .logos a{
    text-decoration: none;
}
footer i
{
    color:white;
    font-size:2em;
    margin-right:20px;
}