@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
@media screen and (max-width: 1080px) {
    main{
        width:100%;
        display:block;
    }
    aside{
        width: 100%;
        display:block;
    }
    footer{
        width: 100%;
        display: block;
    }
}

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;  
}
body{
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
.contenedorPrincipal
{
    max-width: 1080px;
    margin: 0 auto;
}
header
{
    position: fixed;
    width: 100%;
    height: 110px;  
    background-color:#616060;
    overflow: hidden;
}
header img{   
    position: fixed;
    width:150px;
    height:110px;
}
nav{
    max-width: 1080px;
    margin: 0 auto;
    
}
nav ul{
    float:right;
    list-style: none;
    text-align: left;
    vertical-align: top;
    
}
nav li{
    list-style-type: none;
    padding: 5px;
    display: inline;
    border-right: 1px solid #616060;
}

nav li a{
    color:#000;
    text-decoration: none;
    padding: 15px 22px;
    line-height: 130px; 
    color:white;  
    display: inline; 
}
nav li a:hover{
    color:#7ed957;
    
}
.visitado:link
{
    color:#7ed957;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
    box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
}
main
{
    background-color: white;
    width: 92%;
    float: left;
    margin-bottom:100px;
}
main .art1 video
{
    max-width: 100%;
}
main section{
    margin-top: 100px;
    padding: 50px;
}

main h1{
    margin-bottom: 20px;
}

form{
    margin:0 auto;
    margin-top: 200px;
    max-width:750px;
    padding:50px;
    background: rgb(213,249,41);
    background: linear-gradient(90deg, rgba(213,249,41,1) 3%, rgba(153,224,53,1) 56%, rgba(4,245,178,1) 100%);
} 
form h2{
    margin-bottom:25px;
}
form input, form textarea{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    border: none; 
    font-size: 1em;
    resize: horizontal; 
}
form button
{
    display: block;
    margin:0 auto;
    background-color:#959c92;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em; 
    color: 	white;
    background-color: rgb(146, 144, 143); 
}
form button:hover{
    opacity: 0.3;
    margin: 2px;
    color:black;
}
aside{
    clear:both;  
    background-color:rgb(31, 31, 31);
    color:white;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 80px;  
    overflow: hidden;
}
aside h3
{
    color:white;
    margin-bottom: 50px;
}
.enlaces
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.enlaces div
{
    text-align: center;
}
.enlaces1{
    text-decoration: none;
    color:white;
}
.enlaces2{
    text-decoration: none;
    color:white;
}
aside a
{  
    color:white;
    text-decoration:none;
}
aside a:hover
{
    color:#7ed957;
}
aside a:active
{
    color:red;
}
footer{  
    background-color: rgb(0, 0, 0); 
    color:white;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 30px;  
    overflow: hidden;
}

footer h2
{
    color:white;
    line-height: 50px;
    
}
footer h4{
    margin-top:10px;
    margin-bottom: 5px;
    color:white;
}
footer .cookies a{
    text-decoration: none;
    color:white;
}
footer .cookies a:hover
{
    color:#7ed957;
}
footer .cookies a.visited
{
    color:yellow;
}
footer a{
    margin-right: 10px;
    text-decoration: none;
    color:white;
}
footer  a:hover
{
    color:#7ed957;
}
footer  a:link
{
    color:white;
}
footer .logos{
    margin-top: 30px;
}
footer .logos a{
    text-decoration: none;
}
footer .logos i
{
    width:50px;
}
footer i
{
    color:white;
    font-size:2em;
    margin-right:20px;
}
