@media screen and (max-width: 600px) 
{
    #trigger
    {
        display:block;
        
    }
    nav
    {
        display:none;
    }     
    nav a
    {
        width:100%;
    }  
}
@media screen and (min-width:601px) and (max-width: 1920px) 
{
    main
    {
        width:100%;
        display:block;
    }
    aside{
        width: 100%;
        display:block;
    }
    footer
    {
        width: 100%;
        display: block;
    }
}
.animacionLogo {
    animation-duration: 10s;
    animation-name: animLogo;
    animation-iteration-count: 5;
  }
@keyframes animLogo{
    from {
        -webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
        transform: rotateY(180deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
        }
}
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;  
}
body{
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
.contenedorPrincipal
{
    max-width: 1080px;
    margin: 0 auto;
}

header
{
    position: fixed;
    width: 100%;
    height: 110px;  
    background-color:#616060;
    overflow: hidden;
}
header img
{   
    position: fixed;
    width:150px;
    height:110px;
}
#trigger
{
    background:red;
    color:white;
    text-decoration:none;
    display:block;
    padding:5px;
    text-align:center;
    display:none;
} 
nav
{
    max-width: 1080px;
    margin: 0 auto;  
}
nav ul
{
    float:right;
    list-style: none;
    text-align: left;
    vertical-align: top;    
}
nav li
{
    list-style-type: none;
    padding: 5px;
    display: inline;
    border-right: 1px solid #616060;
}

nav li a
{
    color:#000;
    text-decoration: none;
    padding: 15px 22px;
    line-height: 130px; 
    color:white;  
    display: inline-block; 
    
}
nav li a:hover
{
    color:#7ed957;   
}
.visitado:link
{
    color:#7ed957;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
    box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
}
main
{
    background-color: white;
    width: 92%;
    float: left;
}
main section{
    margin-top: 100px;
    padding: 50px;
    margin-bottom:100px;
}
main section p{
    text-align: justify;
    margin-bottom: 16px;
}
main h1{
    margin-bottom: 20px;
}
.b{
    font-weight:bold;
}
.i{
    font-style:italic;
}
.u{
    text-decoration: underline;
}
.t{
    text-decoration: line-through;
}
.espacio{
    letter-spacing: 20px;
}
section h3
{
    margin-bottom:20px;
}
section hr{
    margin-top: 50px;
    margin-bottom: 30px;
}
section .art1 video
{
    margin-bottom: 40px;
    max-width: 100%;
}
section .art1 audio
{
    margin-top: 30px;
}
section .art2 a{
    text-decoration: none; 
}
section .art3 img{
    float:right;
    margin-left: 20px;
    height: 220px;
    width: 150px;
}
section .art3 p{
    margin-right: 30px;
    margin-top: 15px;
    font-size: 1em;
    padding-bottom: 10px;     
}
section .art4 h3
{
    text-align: center;
}
section .art4 img
{
    float:left;
    margin-right: 20px;
    height: 300px;
    width: 230px;
}
section .art4 hr
{
    margin-top: 130px;
}
section #medio
{
    max-width: 100%; 
    margin-top: 20px;  
}
section nav #reiniciar
{
    margin-left: 5px;
    padding: 5px 5px 5px 5px; 
}
section nav #retrasar
{
    padding: 5px 5px 5px 5px; 
}
section nav #play
{
    padding: 5px 5px 5px 5px; 
}
section nav #adelantar
{
    padding: 5px 5px 5px 5px; 
}
section nav #silenciar
{
    margin-left: 25px;
    padding: 5px 5px 5px 5px; 
}
section nav #menosVolumen
{
    padding: 5px 5px 5px 5px; 
}
section nav #masVolumen
{
    padding: 5px 5px 5px 5px;
}
main section nav
{
    margin-bottom: 80px;
}
main section .audio h2
{
    margin-bottom: 20px;
}
main section .audio button
{
    margin-bottom: 5px;   
}
main section .audio #audio1
{
    padding:10px 10px 10px 10px;
}
main section .audio #audio2
{
    padding:10px 27px 10px 10px;
}
main section .audio #audio3
{
    padding:10px 19px 10px 10px;
}
main section .audio #audio4
{
    padding:10px 12px 10px 10px;
}
main section .audio
{
    margin-bottom: 20px;
}
canvas
{
    background: white;
}
#arriba 
{
	display: block;
	position: fixed;
	top: 85%;
    right: 10px;
	padding: 4px 4px 4px 4px;
    font-size: 3em; color: rgb(138, 255, 71);
}
aside{
    clear:both;  
    background-color:rgb(31, 31, 31);
    color:white;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 80px;  
    overflow: hidden;
}
aside h3
{
    color:white;
    margin-bottom: 50px;
}
.enlaces
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.enlaces div
{
    text-align: center;
}
.enlaces1{
    text-decoration: none;
    color:white;
}
.enlaces2{
    text-decoration: none;
    color:white;
}
aside a
{  
    color:white;
    text-decoration:none;
}
aside a:hover
{
    color:#7ed957;
}
aside a:active
{
    color:red;
}
footer{  
    background-color: rgb(0, 0, 0); 
    color:white;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 30px;  
    overflow: hidden;
}

footer h2
{
    color:white;
    line-height: 50px;
    
}
footer h4{
    margin-top:10px;
    margin-bottom: 5px;
    color:white;
}
footer .cookies a{
    text-decoration: none;
    color:white;
}
footer .cookies a:hover
{
    color:#7ed957;
}
footer .cookies a.visited
{
    color:yellow;
}
footer a{
    margin-right: 10px;
    text-decoration: none;
    color:white;
}
footer  a:hover
{
    color:#7ed957;
}
footer  a:link
{
    color:white;
}
footer .logos{
    margin-top: 30px;
}
footer .logos a{
    text-decoration: none;
}
footer .logos i
{
    width:50px;
}
footer i
{
    color:white;
    font-size:2em;
    margin-right:20px;
}


.parallax {
    background-image: url("https://cdn.pixabay.com/photo/2015/03/26/09/41/mountain-690104_960_720.jpg");
    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .parallax img{
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  
  