* {
    margin:0px;
    padding:0px;
    
}
body{
    background: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: left;
    min-height:100%;
}
header{
    position: fixed ;
    top: 0;
    width: 100%;
    height: 110px;  
    background-color:#616060;
}
header img{   
    position: fixed;
    width:150px;
    height:110px;
}
nav{
    max-width: 1024px;
    margin: 0 auto;
    
}
nav ul{
    float:right;
    list-style: none;
    text-align: left;
    vertical-align: top;
    
}
nav li{
    list-style-type: none;
    padding: 5px;
    display: inline;
    border-right: 1px solid #7ed957;
}

nav li a{
    color:#000;
    text-decoration: none;
    padding: 15px 22px;
    line-height: 130px; 
    color:white;   
}
nav li a:hover{
    color:#7ed957;
    
}
.visitado:link
{
    color:#7ed957;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
    box-shadow: 0px 5px 0px 0px rgba(126,217,87,1);
}
.b{
    font-weight:bold;
}
.i{
    font-style:italic;
}
.u{
    text-decoration: underline;
}
.t{
    text-decoration: line-through;
}
.espacio{
    letter-spacing: 20px;
}

section{
    text-align: left;
    margin-top: 200px;
    margin-left:350px;
    margin-right:555px;
}
section h2{
    font-style:italic;
    font-size:2em;
    font-weight:bold;
}
section h3{
    margin-bottom:8px;
}
section .art1{
    margin-top: 30px; 
    margin-bottom:8px;  
}
section .art1 img{
    margin-top:20px;
    margin-left:150px; 
    margin-bottom:20px; 
}
section .art2{
    margin-top: 30px;
    margin-bottom:8px; 
       
}
section .art2 a{
    text-decoration: none; 
}
section .art3 img{
    float:right;
    margin-right: 50px;
}
section .art3{
    margin-top: 30px;           
}
section .art3 p{
    margin-right: 30px;
    margin-top: 15px;
    font-size: 20px; 
    overflow: auto;      
}
section .art3 hr{
    margin-top: 100px;
}
section .art4 h3{
    margin-top:30px;
    margin-bottom: 30px;
    margin-left:400px;
}
section .art4 img{
    float:left;
}
section .art4{
    margin-bottom:150px;   
}
section .art4 .texto{
    margin-left:320px; 
}
section hr{
    margin-top:8px;
}
section{
    margin-bottom:400px;
}
aside{
    line-height: 50px;
    text-align:center;
    text-decoration:none;  
    list-style-type: square;
    background-color:rgb(31, 31, 31);
    padding-bottom: 200px;
    color:white;  
}
aside ul{
    list-style: none;
    text-align: left;
    vertical-align: top;   
}
.enlaces1{
    float: left;
    margin-left: 700px;
}
.enlaces2{
    float: left;
    margin-left: 250px;
}
aside h3
{
    color:white;
}
aside a
{
    color:white;
    text-decoration:none;
}
aside a:hover
{
    color:#7ed957;
}
aside a:active
{
    color:red;
}
footer{   
    clear:both;
    position:relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0); 
    color:white;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 30px;  
}
footer .logos img
{
    width:50px;
}
footer h2
{
    color:white;
    line-height: 50px;
    
}
footer h4{
    margin-top:10px;
    margin-bottom: 5px;
    color:white;
}
footer .cookies a{
    text-decoration: none;
    color:white;
}
footer .cookies a:hover
{
    color:#7ed957;
}
footer .cookies a.visited
{
    color:yellow;
}
footer .redes a{
    margin-right: 10px;
    text-decoration: none;
    color:white;
}
footer .redes a:hover
{
    color:#7ed957;
}
footer .redes a:link
{
    color:red;
}
footer .logos{
    margin-top: 30px;
}
footer .logos a{
    text-decoration: none;
}
footer i
{
    color:white;
    font-size:2em;
    margin-right:20px;
}

img:not([alt])
{  
    border:3px solid red;
}
.art2 a{
    text-decoration: none;
}

.art2 a:after[href]
{
    background-image: url("https://www.shareicon.net/data/16x16/2016/08/13/808584_document_512x512.png");
}
.parallax {
    background-image: url("https://pixabay.com/get/52e6d6414950af14f6d1867dda6d49214b6ac3e456567540742b7fd092/faroe-islands-4632323_1920.jpg");
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .parallax img{
    max-width: 400px;
    position: absolute;
    left: 70%;
    top: 70%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  